* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), url(image/hero.jpg));
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
html {
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140;
    margin: 0 auto;
}
.heroBox {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}