* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(image/hero.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
html {
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140;
    margin: 0 auto;
}
.heroBox {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heroBox h1{
    color: white;
    font-size: 240%;
    font-weight: 300;
    word-spacing: 4;
    text-transform: uppercase;
}
.navigation a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation {
    list-style-type: none;
    display: flex;
    justify-content: right;
    float: inline-end;
    margin: 50px 50px;
}
.navigation li {
    padding: 20px;
    padding-bottom: 10px;
}
.navigation li:hover {
    border-bottom: solid orange;

}
.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}
.btn:hover, btn:active {
    background-color: #cf6d17;
}
.btn-full {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}
.btn-ghost {
    border: 1px solid;
    color: #e67e22;
    transition: color 0.25;
}
.btn-full:hover, .btn-full:active {
    border: 1px solid #cf6d17;
}
.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}
.row img{
    margin: 30px 70px;
    height: 100px;
    width: auto;
}
#foodFastHeader-Column{
    display: flex;
    flex-direction: column;
}
.foodFastContent-Row{
    display: flex;
    flex-direction: row;
    margin: 5%;
}
#foodFastHead{
    text-align: center;
    margin-top: 5%;
}
#foodFastHead::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top: 30px;
}
#foodFastPara{
    width: 65%;
    margin: auto;
    margin-top: 2%;
}
.foodFastContent{
    width: 25%;
    margin-top: 5%;
    margin: 1%;
}
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    --ionicon-stroke-width: 20px;
}
.imageGallery{
    width: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.imageGallery div{
    width: 25%;
    overflow: hidden;
}
.imageGallery img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.imageGallery img:hover{
    opacity: 1;
    transform: scale(1);
}
#howTo-Wrapper{
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: right;
}
#howTo{
    max-width: 1140px;
    width: 75%;
}
#howTo-Header{
    margin-top: 60px;
}
#howToHead::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top: 30px;
}
.howTo img{
    width: 40%;
}
#howTo-Header h2{
    font-weight: 300;
    font-size: 28pt;
    width: fit-content;
}
#howTo-Header h2::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top: 30px;
}
#howTo-Content{
    display: flex;
    margin-top: 70px;
    height: 105vh;
}
#howTo-Img{
    width: 30%;
}
#howTo-Img img{
    padding: 0 40px;
    width: 100%;
}
#howTo-Para_Wrapper{
    padding: 40px 100px 20px 60px;
    width: 70%;
}
.howTo-Para{
    display: flex;
    margin-bottom: 30px;
    height: 10%;
}
.circleWrapper{
    display: block;
    height: auto;
    width: 15%;
}
.circle{
    margin: auto;
    margin-top: 4%;
    border: 2px solid #e67e22;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    text-align: center;
}
.circleNum{
    font-weight: 300;
    color: #e67e22;
    margin-top: 15%;
}
.howTo-Para p{
    display: inline-block;
    padding-left: 20px;
    width: 85%;
}
.locations{
    max-width: 1140px;
    margin: auto;
}
#locationsHead{
    text-align: center;
}
#locationsHead::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top: 30px;
}
.icon-small{
    color: #e67e22;
}
.locationCities{
    display: flex;
    flex-direction: row;
}
.cities{
    width: 25%;
    padding: 1%;
}
.cityFeature{
    margin-bottom: 5px;
}
.cities img{
    width: 100%;
    height: auto;
}
#btnWrapper{
    margin-top: 90px;
}

.btn-app:link, .btn-app:visited{
    border: 0;
}
.btn-app img{
    height: 50px;
    width: auto;
    height: 50px;
    padding-right: 10px;
}

/* Sign Up */
.signUp{
    background-color: #f4f4f4;
}
.signUp h2{
    text-align: center;
    padding: 1%;
}
.signUp h2::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top: 30px;
}
#package-row{
    display: flex;
    flex-direction: row;
}
.package{
    background-color: #fcfcfc;
    margin: auto;
    margin-left: 5%;
}
.package div{
    padding: 15px;
}
.package ul{
    list-style: none;
}